fabric/pipelines/PL_MDM_Extract_Lightspeed_Locations.json
{
  "name": "PL_MDM_Extract_Lightspeed_Locations",
  "properties": {
    "description": "Pobiera lokalizacje z Lightspeed API (/f/data/businesses) i appenduje do bronze.lightspeed_businesses (Delta). Parametryzowany przez tenant.",
    "activities": [
      {
        "name": "ACT_WEB_GetLightspeedToken",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "method": "POST",
          "url": {
            "value": "@concat('https://api.lightspeedhq.com/oauth/access_token')",
            "type": "Expression"
          },
          "headers": { "Content-Type": "application/x-www-form-urlencoded" },
          "body": {
            "value": "@concat('grant_type=client_credentials&client_id=', pipeline().globalParameters.LightspeedClientId, '&client_secret=', pipeline().globalParameters.LightspeedClientSecret)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ACT_WEB_FetchBusinesses",
        "type": "WebActivity",
        "dependsOn": [
          { "activity": "ACT_WEB_GetLightspeedToken", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "method": "GET",
          "url": {
            "value": "@concat('https://api.lightspeedhq.com/f/data/businesses?limit=250&offset=0')",
            "type": "Expression"
          },
          "headers": {
            "Authorization": {
              "value": "@concat('Bearer ', activity('ACT_WEB_GetLightspeedToken').output.access_token)",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "ACT_NTB_AppendBronze",
        "type": "SynapseNotebook",
        "dependsOn": [
          { "activity": "ACT_WEB_FetchBusinesses", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "notebook": { "referenceName": "nb_bronze_append_lightspeed", "type": "NotebookReference" },
          "parameters": {
            "run_id":      { "value": "@pipeline().parameters.__paramRunId", "type": "string" },
            "tenant_name": { "value": "@pipeline().parameters.__paramTenantName", "type": "string" },
            "payload_json": {
              "value": "@string(activity('ACT_WEB_FetchBusinesses').output)",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "ACT_SPRC_LogExtract",
        "type": "Script",
        "dependsOn": [
          { "activity": "ACT_NTB_AppendBronze", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "scripts": [{
            "type": "NonQuery",
            "text": {
              "value": "@concat('INSERT INTO mdm_config.execution_log (run_id, entity_id, process_name, status, started_at, completed_at) VALUES (''', pipeline().parameters.__paramRunId, ''', ''business_location'', ''PL_MDM_Extract_Lightspeed_Locations'', ''Completed'', current_timestamp(), current_timestamp())')",
              "type": "Expression"
            }
          }]
        },
        "linkedServiceName": { "referenceName": "LS_Fabric_Lakehouse", "type": "LinkedServiceReference" }
      }
    ],
    "parameters": {
      "__paramRunId":      { "type": "string" },
      "__paramTenantName": { "type": "string", "defaultValue": "losteria" }
    },
    "folder": { "name": "MDM/Extract" },
    "annotations": ["mdm", "bronze", "lightspeed", "extract"]
  }
}
