fabric/pipelines/PL_MDM_Extract_Yext_Locations.json
{
  "name": "PL_MDM_Extract_Yext_Locations",
  "properties": {
    "description": "Pobiera lokalizacje z Yext Knowledge API i appenduje do bronze.yext_locations (Delta).",
    "activities": [
      {
        "name": "ACT_WEB_FetchYextLocations",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "method": "GET",
          "url": {
            "value": "@concat('https://api.yext.com/v2/accounts/me/entities?api_key=', pipeline().globalParameters.YextApiKey, '&v=20230101&entityTypes=location&limit=50')",
            "type": "Expression"
          },
          "headers": { "Content-Type": "application/json" }
        }
      },
      {
        "name": "ACT_NTB_AppendBronze",
        "type": "SynapseNotebook",
        "dependsOn": [
          { "activity": "ACT_WEB_FetchYextLocations", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "notebook": { "referenceName": "nb_bronze_append_yext", "type": "NotebookReference" },
          "parameters": {
            "run_id":       { "value": "@pipeline().parameters.__paramRunId", "type": "string" },
            "tenant_name":  { "value": "@pipeline().parameters.__paramTenantName", "type": "string" },
            "payload_json": {
              "value": "@string(activity('ACT_WEB_FetchYextLocations').output)",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "ACT_SPRC_LogExtract",
        "type": "Script",
        "dependsOn": [
          { "activity": "ACT_NTB_AppendBronze", "dependencyConditions": ["Succeeded"] }
        ],
        "typeProperties": {
          "scripts": [{
            "type": "NonQuery",
            "text": {
              "value": "@concat('INSERT INTO mdm_config.execution_log (run_id, entity_id, process_name, status, started_at, completed_at) VALUES (''', pipeline().parameters.__paramRunId, ''', ''business_location'', ''PL_MDM_Extract_Yext_Locations'', ''Completed'', current_timestamp(), current_timestamp())')",
              "type": "Expression"
            }
          }]
        },
        "linkedServiceName": { "referenceName": "LS_Fabric_Lakehouse", "type": "LinkedServiceReference" }
      }
    ],
    "parameters": {
      "__paramRunId":      { "type": "string" },
      "__paramTenantName": { "type": "string", "defaultValue": "losteria" }
    },
    "folder": { "name": "MDM/Extract" },
    "annotations": ["mdm", "bronze", "yext", "extract"]
  }
}
